body {
    padding: 0; /* Adjust as necessary */
}

.container {
    width: 100%; /* Makes the container full width */
    margin: 0; /* Remove any default margins */
    padding: 0; /* Ensure no extra padding */
}
.container {
    max-width: 400px;
    margin: auto;
}

.input-box input {
    width: 100%;
    padding: 12px;
    font-size: 22px;
    border-radius: 8px;
    border: 1px solid #ccc;
    text-align: center;
}

.card {
    position: relative;
    margin-top: 20px;

.card-img {
    width: 100%;
    border-radius: 16px;
    max-height: 600px;
    object-fit: cover;
    object-position: top;
}
.name {
    font-family: 'Cairo', sans-serif !important;
    position: absolute;
    z-index: 10;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 22px !important;      /* الحجم الجديد */
    font-weight: 400 !important;     /* عادي وليس عريض */
    color: #333;
    width: 90%;
    text-align: center;
    word-break: break-word;
}
