body {
    font-family: 'Cairo', sans-serif;
    background: #f5f5f5;
    text-align: center;
    padding: 16px;
}

.container {
    max-width: 400px;
    margin: auto;
}

.input-box input {
    width: 100%;
    padding: 12px;
    font-size: 18px;
    border-radius: 8px;
    border: 1px solid #ccc;
    text-align: center;
}

.card {
    position: relative;
    margin-top: 20px;
}

.card-img {
    width: 100%;
    border-radius: 16px;
}
.name {
    font-family: 'Cairo', sans-serif !important;
    position: absolute;
    z-index: 10;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 22px !important;      /* الحجم الجديد */
    font-weight: 400 !important;     /* عادي وليس عريض */
    color: #333;
    width: 90%;
    text-align: center;
    word-break: break-word;
}
